.header {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 32px;
}

.inputsWrapper {
  margin-top: 32px;
}

.inputsWrapper input {
  display: block;
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: var(--sec-color);
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

.joinBtn {
  background: var(--main-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 16px;
  width: 100%;
  margin-top: 183px;
  border: none;
}
